$color-1: #01539d;
$color-2: #eea47f;

@font-face {
    font-family: iranSans;
    src: url("/src/fonts/iranSans.ttf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    user-select: none;
}

button {
    all: unset;
    cursor: pointer;
}

img {
    display: flex;
    object-fit: cover;
    width: 100%;
}

.App {
    max-width: 1400px;
    margin: auto;
    font-family: iranSans;
}



main {
}
